@model IEnumerable<MobileServer.Controllers.PersonA>

@{
    ViewBag.Title = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All</h2>

<table class="table">
    <tr>        
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>        
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>        
    </tr>
}

</table>
