
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Главная</h2>

<ul class="list-group">
    <li>
        @Html.ActionLink("Добавить одного пользователя","AddUser","Add")
    </li>
    <li>
        @Html.ActionLink("Добавить пользователя, с друзьями", "AddUserFriends", "Add")
    </li>
    <li>
        @Html.ActionLink("Графическое представление базы", "Index", "Visualisation")
    </li>
</ul>
